html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Heveltica', sans-serif;
}
.menu-right{
    display: flex;
    justify-content:space-between;
}
.link-text{
    font-size: 25px;
}
.menu-item{
    background-color: #8181F7;
    color:rgb(255, 255, 255);
}
.contato-item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
li{
   list-style: none;
}
.icone-temp, .icone-atemp{
    display: flex;
    flex-direction: row;
}
.margin{
    margin:10px;
}
.icone-item{
    width: 20px;
    height: auto;
}
.imagem-item{
    width: 500px;
    height: auto;
}
.texto-item{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}
.margin-big{
    margin: 50px;
}
.operacao-conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.operacao-conteiner img{
    width: 20rem;
    height: auto;
}
footer{
    margin-top: 100px;
    color: white;
    background-color: #8181F7;
    padding: 50px;
}